:root {
    --testcolor: blue;
    --anotherTestColor: red;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    justify-content:  center;
}

h1 {
    text-align: center;
    margin: 0;
    
    font-family: Ubuntu;
    font-size: 70px;
    background-image: linear-gradient(to left, indigo, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
    
}

main {
    margin-top: 100px;
    display: flex;
}




.grid {
    display: grid;
    
    width: 500px;
    height: 500px;
    margin: 0 20px 0 35px;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    

    border-style: solid;
    border-radius: 2px;
}

.grid > *:hover {
    transform: scale(1.05);    
}





button {
    width: 90px;
    height: 30px;
    background-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(193, 202, 135, 0.6);
    border-color: rgba(193, 202, 135, 0.6);
    color: black;
}

button.active {
    background-color: black;
    border-color: rgba(20, 20, 20, 0.5);
    color: white;
}


input[type="color"] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    align-self: center;
}

button:hover,
input[type="color"]:hover {
    transition: transform 0.125s;
    transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 50px;
    border: none;
}


.rightbar,
.leftbar {
    display: grid;
    justify-content:  center;
    width: 100px;
}

.rightbar > *,
.leftbar > * {
    justify-self: center;
}

.leftbar {
    grid-template-rows: repeat(1fr);
    align-content: space-around;
}

.rightbar {
    grid-template-rows: 350px 1fr;
    /* row-gap: 20px; */
    padding: 10px 0px;
    align-content: space-around;
}

/* gridsize */


.sizepickerslider {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    gap: 5px;
    /* grid-template-columns: 50px; */
    /* justify-content: center; */
    /* width: 50px; */
}

.scale {
    
}


.sizepickerslider * {
    justify-self: center;
}

#gridsizepicker {
    -webkit-appearance: slider-vertical;
}



#gridsizepicker::-webkit-slider-thumb {
    background: red;
}

