h1 {
    text-align: center;
    
    margin: 0;
    
    font-family: Ubuntu;
    font-size: 70px;
    background-image: linear-gradient(to left, indigo, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center;
    margin: 0 0 20px 0;

}

.container {
    display: grid;
    justify-content: center;
    padding: 45px;
    
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    /* grid-auto-rows: 15px;
    grid-auto-columns: minmax(30px, auto); */
    

    border-style: solid;
    border-radius: 2px;
}

.container > * {
    border-style: groove;
    border-radius: 1px;
}

.container > *:hover {
    transform: scale(1.25);
    background-color: black;
}

