/* Some useful / pretty font recommendations are highly appreciated. */




:root {
    --testcolor: blue;
    --anotherTestColor: red;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */

h1 {
    text-align: center;
    margin: 0;
    font-family: Ubuntu;
    font-size: 70px;
    background-image: linear-gradient(to left, indigo, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px 0;
    
}



/* Displaying gridsize */

#gridsizevalue {
    margin: 35px 0px 20px;
    text-align: center;
    font-size: 50px;
}



/* Etch-A-Sketch */

main {
    display: flex;
}


.rightbar,
.leftbar {
    display: grid;
    justify-content:  center;
    width: 100px;
}

.rightbar > *,
.leftbar > * {
    justify-self: center;
}



/* Left side with buttons */

.leftbar {
    grid-template-rows: repeat(1fr);
    align-content: space-around;
}

button {
    width: 90px;
    height: 30px;
    background-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(161, 102, 206, 0.3);
    border-color: rgba(161, 102, 206, 0.3);
    color: black;
}

button.active {
    background-color: black;
    border-color: rgba(20, 20, 20, 0.5);
    color: white;
}



/* The grid */

.grid {
    display: grid;
    
    width: 500px;
    height: 500px;
    margin: 0 20px 0 35px;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    

    border-style: solid;
    border-radius: 2px;
}

.grid > *:hover {
    transform: scale(1.05);    
}



/* Right side with Sizeslider and Colorpicker */

.rightbar {
    grid-template-rows: 1fr 80px;
    padding: 0px 0px;
    align-content: space-around;
}

.sizepickerslider {
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    gap: 10px;
}

.sizepickerslider * {
    justify-self: center;
}

#gridsizeslider {
    -webkit-appearance: slider-vertical;
    margin: 20px 0px;
}

#gridsizeslider::-webkit-slider-thumb {
    background: red;
}

#topofscale,
#bottomofscale {
    display: flex;
    height: 40px;
    width: 60px;
    align-items: center;
    justify-content: center;
}



/* Colorpicker */

input[type="color"] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    align-self: center;
}

button:hover,
input[type="color"]:hover {
    transition: transform 0.125s;
    transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 50px;
    border: none;
}
